@model List<JobViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job Board</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" <img src="~/img/favicon.png" />
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/themify-icons.css" rel="stylesheet" />
    <link href="~/css/nice-select.css" rel="stylesheet" />
    <link href="~/css/flaticon.css" rel="stylesheet" />
    <link href="~/css/gijgo.css" rel="stylesheet" />
    <link href="~/css/animate.min.css" rel="stylesheet" />
    <link href="~/css/slicknav.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />




    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    
  
    
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text">
                            <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">4536+ İş İlanı listelendi</h5>
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Hayalinizdeki İşi Bulun</h3>
                            <!--
                                                        <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                                                            <a href="#" class="boxed-btn3">Upload your Resume</a>
                                                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
            <img src="~/img/banner/illustration.png" />
        </div>
    </div>
    <!-- slider_area_end -->
    
    <!-- popular_catagory_area_start  -->
    <div class="popular_catagory_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title mb-40">
                        <h3>Popüler Aramalar</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="jobs.html"><h4>Finans Uzmanı</h4></a>
                       
                    </div>
                </div>
                
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="jobs.html">
                            <h4>Dijital Pazarlama  </h4>
                        </a>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="jobs.html"><h4>Yazılım Geliştirme </h4></a>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="jobs.html"><h4>Proje Yöneticisi</h4></a>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="jobs.html"><h4>İK Uzmanı</h4></a>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="jobs.html"><h4>Elektrik Teknisyeni</h4></a>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="jobs.html"><h4>İç Mimar - Mimar</h4></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popular_catagory_area_end  -->
    <!-- job_listing_area_start  -->
    <div class="job_listing_area">
        <div class="container">
            <div class="row align-items-center">
                
                <div class="col-lg-6">
                    <div class="section_title">
                        <h3>İş İlanları</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="brouse_job text-right">
                        <a asp-area=""
                           asp-controller="Home"
                           asp-action="MoreJob"
                           class="boxed-btn4">Daha Fazla İş İlanı </a>
                    </div>
                </div>
            </div>
            <div class="job_lists">
                <div class="row">
                    @for (int i = 0; i < 4 && i < Model.Count; i++)
                    {
                        var p = Model[i];
                        <div class="col-lg-12 col-md-12">
                            <div class="single_jobs white-bg d-flex justify-content-between">
                                <div class="jobs_left d-flex align-items-center">
                                    <div class="">
                                        <img src="~/img/brand/@p.ImageUrl" />
                                    </div>
                                    <div class="jobs_conetent">
                                        <a href="job_details.html"><h4>@p.Name</h4></a>
                                        <div class="links_locat d-flex align-items-center">
                                            <div class="location">
                                                <p> <i class="fa fa-map-marker"></i> @p.Properties</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="jobs_right">
                                    <div class="apply_now">
                                        <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                        <a 
                                            asp-area=""
                                            asp-controller="Home"
                                            asp-action="GetById"
                                            asp-route-id="@p.Id"
                                            
                                            
                                            class="boxed-btn3">Detay</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->
    <!-- featured_candidates_area_start  -->
    

    <div class="top_companies_area">
        <div class="container">
            <div class="row align-items-center mb-40">
                <div class="col-lg-6 col-md-6">
                    <div class="section_title">
                        <h3>Öne Çıkanlar</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="brouse_job text-right">
                        <a href="jobs.html" class="boxed-btn4">Browse More Job</a>
                    </div>
                </div>
            </div>
            <div class="row">
                @{
                    int count = 0;
                }
                @foreach (var p in Model)
                {
                    if (count <4)
                    {
                        <div class="col-lg-4 col-xl-3 col-md-6">
                            <div class="single_company">
                                <div class="">
                                    <img src="~/img/joblogo/@p.ImageUrl" />
                                </div>
                                <a href="jobs.html"><h3>@p.Name</h3></a>
                                <p>  @p.Properties</p>
                            </div>
                        </div>
                        count++;
                    }
                    else
                    {
                        break;
                    }
                }
                
            </div>
        </div>
    </div>

    <!-- job_searcing_wrap  -->
    <div class="job_searcing_wrap overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 offset-lg-1 col-md-6">
                    <div class="searching_text">
                        <h3>İş mi Arıyorsunuz?</h3>
                        <p>Yesi bir kariyer fırsatı mı arıyorsunuz? İş Kapısı sitesi sizin için en uygun pozisyonu bulmanıza yardımcı olabilir!" </p>
                        <a href="#" class="boxed-btn3">İş İlanları</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-6">
                    <div class="searching_text">
                        <h3>Uzman mı arıyorsunuz??</h3>
                        <p>Yetenekli ve motivasyonlu adayları bulmak için İl Kapısı sitesini deneyin! İdeal çalışanlarınızı bulmaya bir adım daha yakınsınız." </p>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job_searcing_wrap end  -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="~/img/logo.png" />
                                </a>
                            </div>
                            <p>
                                ıskapisi@support.com <br>
                                +10 873 672 6782 <br>
                                600/D, İstanbul, Türkiye
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".4s">
                            <h3 class="footer_title">
                                YARDIM
                            </h3>
                            <ul>
                                <li><a href="#">Sorum Var </a></li>
                                <li><a href="#"> Önerim Var</a></li>
                               
                                <li><a href="#">Sık Sorulan Sorular</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                            <h3 class="footer_title">
                                HAKKIMIZDA
                            </h3>
                            <ul>
                                <li><a href="#">Hakkımızda</a></li>
                                <li><a href="#">İletişim</a></li>
                                <li><a href="#">İK Blog</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".6s">
                            <h3 class="footer_title">
                                Üye Ol
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit">Subscribe</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>

    
    
    <!-- link that opens popup -->
    <!-- JS here -->





    <script src="~/js/modernizr-3.5.0.min.js"></script>
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/ajax-form.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/scrollit.js"></script>
    <script src="~/js/jquery.scrollup.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/nice-select.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/gijgo.min.js"></script>




    <!--contact js-->


    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/main.js"></script>

</body>

</html>

@*  <div class="container">
     <div class="row">
         @foreach (var p in Model)
         {
             <div class="col-md-3">
                 <div class="card">
                     <img src="~/images/@p.ImageUrl" class="card-img-top" alt="...">
                     <div class="card-body">
                         <h5 class="card-title">@p.Name</h5>
                         <p class="card-text">@p.Properties</p>                
                         <a href="#" class="btn btn-primary">Detay</a>
                     </div>
                 </div>
             </div>
         }
     </div>
 </div> *@